<div class="chat-container">

    <div *ngFor="let message of messages" class="message">
        <ng-container *ngIf="message.type === 'incoming'; else outgoing">
            <div class="incoming">{{ message.pseudo }}: {{ message.text }}</div>
        </ng-container>
        <ng-template #outgoing>
            <div class="outgoing">{{ message.pseudo }}: {{ message.text }}</div>
        </ng-template>
    </div>
</div>
<div class="input-container">
    <input type="text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()"
        placeholder="Saisissez votre message..." />
    <button (click)="sendMessage()">Envoyer</button>
</div>



