@import '../../styles.scss' ;
  

.chat-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  background-color: $white;
  padding: 10px;
  width: 80%;
  min-height: 50px;
  max-height: 300px;
  overflow-y: auto;
}

/* Message entrant */
.incoming {
  background-color: #f0f0f0;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

/* Message sortant */
.outgoing {
  background-color: #007bff;
  color: #fff;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

/* Conteneur du champ de saisie et du bouton */
.input-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  width: 80%;
  padding: 10px;
  height: 4vh;
}

/* Champ de saisie */
input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 2%;
}

/* Bouton d'envoi */
button {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}