
<div>
  <!-- Toolbar -->
  <div class="toolbar">
    <img src="assets/logo.png" height="30px" />
    <span>ChatDirect</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/login">Login</button>
    <!-- Bouton Register en haut -->
    <button mat-button routerLink="/register">Register</button>
  </div>

  <!-- Contenu principal de l'application -->
  <div class="main-content">
    <!-- Composant ChatFormComponent en bas -->
    <app-chat-form></app-chat-form>
  </div>
</div>